# AirBnB Hotspots Final Code

## AirBnB Data Scrapes & Manipulation
* Extracted data for years 2015 thru 2018
* Imported & sorted to find Top 30 Zip Codes for each year 
* Merged 4 years together and concluded the final Top 30 Zip Codes

In [3]:
# Paste code for importing csv/ finding final top 30 / merging top 30 from each year together

## External Resources
#####  Question: Does median household income affect prices?
* Census Python Package to identify Household Income

In [4]:
#Import Packages 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

api_key = "9c43c55c9067920bded793b5c4d99ae0aba10281"

c = Census(api_key, year=2017)

In [10]:
# Run Census Search to retrieve data on selected zip codes
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E","B19301_001E"), 
                         {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income"]]

# Visualize
print(len(census_pd))
census_pd.head()

33120

  Zipcode  Population  Median Age  Household Income  Per Capita Income
0   00601     17599.0        38.9           11757.0             7041.0
1   00602     39209.0        40.9           16190.0             8978.0
2   00603     50135.0        40.4           16645.0            10897.0
3   00606      6304.0        42.8           13387.0             5960.0
4   00610     27590.0        41.4           18741.0             9266.0

In [6]:
# Import Final zip codes data
zipcode_30 = pd.read_csv("../Final_Trending_Zipcodes.csv")

# Convert Zip Codes to str in order to extract from Census Data
zipcode_30['Zip Codes']=zipcode_30['Zip Codes'].astype(str)
zipcode_30.dtypes

Zip Codes        object
Borough          object
Neighborhood     object
Mean_2015       float64
Median_2015       int64
Mean_2016       float64
Median_2016       int64
Mean_2017       float64
Median_2017       int64
Mean_2018       float64
Median_2018     float64
dtype: object

In [7]:
# Create list of 30 codes that need to be searched
zips = zipcode_30.groupby('Zip Codes').count()
zips = zips.sort_values('Borough', ascending=False)

zip_list = list(zips.index.values)
zipcodes = zip_list[0:30]
zipcodes

['10002',
 '11201',
 '11237',
 '11233',
 '11226',
 '11225',
 '11222',
 '11221',
 '11217',
 '11216',
 '11215',
 '11211',
 '11206',
 '11205',
 '10036',
 '10003',
 '10031',
 '10029',
 '10027',
 '10025',
 '10024',
 '10023',
 '10019',
 '10016',
 '10014',
 '10012',
 '10011',
 '10009',
 '11238']

In [8]:
# Extract selected zip codes data from Census dataframe

census_pd2 = census_pd[census_pd["Zipcode"].isin(zipcodes)]
census_pd2

     Zipcode  Population  Median Age  Household Income  Per Capita Income
2559   10002     77925.0        41.8           35449.0            30677.0
2560   10003     55035.0        32.6          104441.0            91141.0
2565   10009     60141.0        36.8           60521.0            47782.0
2567   10011     50711.0        39.8          123208.0           114218.0
2568   10012     24527.0        34.5          104561.0            85491.0
2570   10014     31794.0        36.8          127973.0           122098.0
2571   10016     51448.0        33.3          109250.0            88762.0
2574   10019     41592.0        39.6           99063.0            94797.0
2578   10023     61514.0        42.6          123951.0           114641.0
2579   10024     58512.0        43.1          126107.0           113584.0
2580   10025     94382.0        41.7           82352.0            68995.0
2582   10027     65365.0        30.7           45536.0            30256.0
2584   10029     80866.0        34.0           34015.0            27966.0
2586   10031     62382.0        34.8           44040.0            26417.0
2591   10036     26868.0        37.1           93707.0            77462.0
2825   11201     61907.0        35.0          116446.0            77491.0
2828   11205     45148.0        30.0           51574.0            28894.0
2829   11206     87767.0        29.2           34122.0            21148.0
2834   11211    101560.0        30.6           66113.0            39123.0
2838   11215     71015.0        35.5          116893.0            67148.0
2839   11216     57410.0        34.2           56025.0            34644.0
2840   11217     39687.0        35.1           99085.0            63967.0
2844   11221     84536.0        31.5           47170.0            24707.0
2845   11222     36845.0        35.0           78287.0            46592.0
2848   11225     59497.0        34.7           51926.0            30351.0
2849   11226    102585.0        34.1           48495.0            24798.0
2855   11233     74982.0        33.2           36009.0            22163.0
2859   11237     52319.0        30.3           51269.0            23115.0
2860   11238     55398.0        35.6           79013.0            49004.0

In [13]:
# Merge Census data with trended data 
zipcode_30 = zipcode_30.rename(columns={'Zip Codes': 'Zipcode'})

census_pd2['Zipcode']=census_pd2['Zipcode'].astype(str)

zipsmerged = pd.merge(census_pd2, zipcode_30, on="Zipcode", how="outer")
zipsmerged

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Borough,Neighborhood,Mean_2015,Median_2015,Mean_2016,Median_2016,Mean_2017,Median_2017,Mean_2018,Median_2018
0,10002,77925.0,41.8,35449.0,30677.0,Manhattan,Lower East Side,182.400477,150,168.815366,135,174.141667,129,171.128160,130.0
1,10003,55035.0,32.6,104441.0,91141.0,Manhattan,Lower East Side,220.328891,180,218.895993,169,220.491229,160,223.038827,169.0
2,10009,60141.0,36.8,60521.0,47782.0,Manhattan,Lower East Side,177.778549,150,165.071030,135,166.544186,135,170.691880,140.0
3,10011,50711.0,39.8,123208.0,114218.0,Manhattan,Chelsea and Clinton,242.854346,200,225.796277,199,225.691729,195,235.382632,190.0
4,10012,24527.0,34.5,104561.0,85491.0,Manhattan,Greenwich Village and Soho,255.219760,200,230.587597,190,224.176746,185,226.860020,185.0
5,10014,31794.0,36.8,127973.0,122098.0,Manhattan,Greenwich Village and Soho,252.500823,210,239.303179,200,244.652423,200,256.992884,200.0
6,10016,51448.0,33.3,109250.0,88762.0,Manhattan,Gramercy Park and Murray Hill,237.572914,185,214.245595,175,215.009782,170,219.999161,175.0
7,10019,41592.0,39.6,99063.0,94797.0,Manhattan,Chelsea and Clinton,229.525049,189,215.508512,175,215.059272,170,228.574660,180.0
8,10023,61514.0,42.6,123951.0,114641.0,Manhattan,Upper West Side,234.262821,190,223.957771,180,219.792201,182,219.262169,180.0
9,10024,58512.0,43.1,126107.0,113584.0,Manhattan,Upper West Side,205.716110,175,199.247779,165,0.000000,0,195.559349,159.0
10,10025,94382.0,41.7,82352.0,68995.0,Manhattan,Upper West Side,183.937928,145,158.431274,119,166.183255,110,166.790625,110.0
11,10027,65365.0,30.7,45536.0,30256.0,Manhattan,Central Harlem,128.709048,110,121.078350,100,135.229297,100,135.707509,100.0
12,10029,80866.0,34.0,34015.0,27966.0,Manhattan,East Harlem,126.461440,100,127.426550,100,129.885366,98,140.572068,95.0
13,10031,62382.0,34.8,44040.0,26417.0,Manhattan,Inwood and Washington Heights,104.395633,80,99.883374,75,95.558082,75,98.003266,75.0
14,10036,26868.0,37.1,93707.0,77462.0,Manhattan,Chelsea and Clinton,218.437125,175,212.077208,165,213.932102,168,215.999462,170.0
15,11201,61907.0,35.0,116446.0,77491.0,Brooklyn,Northwest Brooklyn,180.651959,155,166.963918,150,174.439658,145,0.000000,0.0
16,11205,45148.0,30.0,51574.0,28894.0,Brooklyn,Northwest Brooklyn,165.375414,115,154.145494,100,140.440341,99,140.647674,99.0
17,11206,87767.0,29.2,34122.0,21148.0,Brooklyn,Bushwick and Williamsburg,102.391970,80,94.994238,75,94.821426,75,96.825835,75.0
18,11211,101560.0,30.6,66113.0,39123.0,Brooklyn,Greenpoint,150.991682,129,143.768193,119,145.759296,113,146.840053,110.0
19,11215,71015.0,35.5,116893.0,67148.0,Brooklyn,Northwest Brooklyn,162.932613,139,150.024912,130,144.884473,129,147.097090,129.0
20,11216,57410.0,34.2,56025.0,34644.0,Brooklyn,Central Brooklyn,111.900207,90,110.022522,85,107.358035,85,110.636435,85.0
21,11217,39687.0,35.1,99085.0,63967.0,Brooklyn,Northwest Brooklyn,165.974973,140,164.352042,130,163.994170,130,162.188512,130.0
22,11221,84536.0,31.5,47170.0,24707.0,Brooklyn,Bushwick and Williamsburg,95.713076,75,89.587325,70,88.334267,69,87.629931,68.0
23,11222,36845.0,35.0,78287.0,46592.0,Brooklyn,Greenpoint,140.432536,120,128.623164,109,124.135188,100,135.671584,109.5
24,11225,59497.0,34.7,51926.0,30351.0,Brooklyn,Flatbush,0.000000,0,94.748649,80,95.294381,80,100.770975,83.0
25,11226,102585.0,34.1,48495.0,24798.0,Brooklyn,Flatbush,92.680582,75,84.754190,70,85.103783,69,85.033461,69.0
26,11233,74982.0,33.2,36009.0,22163.0,Brooklyn,Central Brooklyn,0.000000,0,105.371874,95,100.719001,80,99.172214,80.0
27,11237,52319.0,30.3,51269.0,23115.0,Brooklyn,Bushwick and Williamsburg,91.916442,75,86.114981,69,80.728763,65,79.219594,65.0
28,11238,55398.0,35.6,79013.0,49004.0,Brooklyn,Central Brooklyn,144.082211,120,138.259867,106,135.210127,100,137.844509,105.0